* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: silver;
}
a :hover {
  color: rgb(169, 125, 180);
  background: rgb(66, 60, 52);
}
body {
  background: rgb(58, 53, 46);
}
.App {
  color: rgb(185, 173, 153);
  background: rgb(58, 53, 46);
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nav {
  top: 0;
  text-transform: uppercase;
  position: fixed;
  width: 100vw;
  background: rgb(58, 53, 46);
  border-bottom: solid 1px rgb(131, 112, 86);
  padding-bottom: 0.5em;
}
.header--title {
  color: rgb(212, 169, 103);
  font-family: codystar;
  font-size: 1.5em;
}
#header--user {
  color: rgb(99, 120, 153);
}
.header--wellcome {
  font-size: 0.8rem;
}
#spinner {
  animation: rotation 2s infinite linear;
  margin-left: 20px;
  font-size: 3em;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#loading--title {
  color: rgb(114, 76, 153);
  font-size: 3em;
}
.auth-main,
.loading--main {
  width: 100vw;
  height: 100vh;
  color: rgb(156, 151, 143);
  display: flex;
  align-items: center;
  justify-content: center;
}
#auth--input {
  width: 80%;
  outline: none;
}
.auth-main button {
  width: 20%;
}
.auth--form-button {
  background: rgb(104, 84, 68);
  width: 5em;
  color: rgb(185, 154, 114);
  border: solid 1px rgb(117, 101, 69);
}
#reviews-link {
  font-size: 1.3em;
}
.reviews--review img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}
#reviews--grid {
  margin-top: 14.5em;
}
.categories--categories-flex {
  padding-top: 0.5em;
  border-top: solid 1px rgb(131, 112, 86);
  font-size: 0.8em;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}
.review--review-unit {
  margin-top: 13em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review--review-unit img {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}
#review--votes-color {
  font-size: 1.2em;
  color: rgb(156, 104, 156);
}
#review--comment {
  width: 100%;
  text-align: right;
}
#review--comment--button {
  border: solid 1px rgb(167, 132, 93);
}
.review--comments-box {
  border: solid 1px rgb(167, 132, 93);
  text-align: left;
  padding: 0.4em;
}
.comment--delete-button {
  width: 4em;
  background: rgb(72, 64, 88);
  border: solid 1px rgb(90, 75, 58);
  color: rgb(179, 146, 146);
}
.review--headings {
  width: 100%;
  margin: 0.4em;
}
.review--review-unit h2 {
  margin-top: 1.3em;
  text-transform: uppercase;
}
.review-unit--h2 {
  margin-top: 0.5em;
  color: rgb(163, 143, 110);
  text-align: center;
  font-size: 1.2em;
  text-shadow: 1px 1px #241717;
}
.comment--main {
  margin-top: 7em;
}
#comments--user {
  color: rgb(99, 120, 153);
}
#comments--text {
  width: 100%;
  min-height: 10vh;
  background: transparent;
  border: solid 1px rgb(99, 83, 66);
  color: rgb(185, 173, 153);
  outline: none;
}
#comments--form button {
  display: block;
  background: rgb(92, 75, 61);
  width: 5em;
  color: rgb(194, 179, 160);
  border: solid 1px rgb(83, 68, 39);
}
#comments--form {
  width: 90vw;
  margin-bottom: 1em;
}
#comment--title {
  margin-bottom: -1.3em;
  color: rgb(143, 84, 96);
  text-shadow: 1px 1px #241717;
}
#sorters {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.categories--checkbox-cont {
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cat--sorter {
  border: solid 1px rgb(71, 49, 23);
  padding-right: 0.5em;
  padding-left: 0.5em;
  background: rgb(236, 213, 81);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
}
#checkbox {
  margin: auto;
  display: flex;
  width: 3em;
  height: 1.7em;
  background: rgb(44, 31, 7);
  padding: 0.1em;
}
#toggle {
  width: 1.5em;
  height: 1.5em;
  background: rgb(185, 117, 71);
}
#categories--main-h4 {
  align-self: center;
  margin-bottom: -1em;
}

.alert-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 12vh;
  background-color: rgb(155, 86, 30);
  color: #160b02;
  font-weight: 800;
  opacity: 0.8;
  font-size: 1.2em;
  position: fixed;
  z-index: 10;
  margin-bottom: 50vh;
}
#header--farewell-btn {
  color: rgb(240, 224, 203);
  width: 5em;
  height: 1.5em;
  padding-bottom: 0.1em;
  cursor: pointer;
  border: solid 1px rgb(82, 52, 34);
}
#review--footer {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .alert-message {
    width: 38em;
  }
  .header--title {
    font-size: 3em;
  }
  .header--wellcome {
    text-align: left;
    font-size: 1.2em;
    margin-left: 1em;
    margin-bottom: -2em;
  }
  .header--farewell {
    text-align: right;
    font-size: 1.2em;
    margin-right: 1.5em;
    margin-bottom: -1em;
  }
  #reviews--grid {
    width: 100vw;
    margin-top: 11.5em;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    row-gap: 0.5em;
    column-gap: 0.5em;
    text-align: left;
  }
  #reviews--grid p {
    padding: 0.1em;
  }
  #reviews--grid {
    margin-top: 10.5em;
  }
  .reviews--review {
    margin-top: 0.4em;
  }

  .review--review-unit {
    margin-top: 11em;
    width: 50%;
  }
  .review-unit--h2 {
    margin-top: 1.2em;
    font-size: 1.5em;
  }
  .review--headings {
    display: flex;
    justify-content: space-around;
  }
  #reviews-link {
    font-size: 2em;
  }
  #review--txt {
    line-height: 1.2em;
    text-align: left;
    margin-top: 0.2em;
    font-size: 1.5em;
  }
  #review--votes {
    margin-top: 0.2em;
    font-size: 1.5em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  #comment--title {
    margin-top: 1em;
  }
  #comments--form {
    width: 50vw;
  }
  #comments--text {
    resize: none;
  }
  .categories--categories-flex {
    padding-top: 0.5em;
    border-top: solid 1px rgb(131, 112, 86);
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
  }
  .categories--checkbox-cont {
    font-size: 1em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: flex-end;
  }
  #categories--main-h4 {
    margin-left: 1.2em;
    text-align: left;
    margin-top: -2em;
  }
  #sorters {
    width: auto;
    display: flex;
    margin-right: 1em;
  }
  #checkbox {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
